@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

.active-menu {
  color: #f43f5e !important; /* rose-500 */
  background: rgba(244, 63, 94, 0.2);
}