---
const socialLinks = [
  { name: "GitHub", url: "#" },
  { name: "LinkedIn", url: "#" },
  { name: "Dribbble", url: "#" },
];
---

<footer class="border-t border-yankees-blue font-poppins">
  <div class="max-w-6xl mx-auto px-4 py-6 flex justify-between items-center">
    <p class="text-silver">hi@yoryer.com</p>
    <div class="text-silver text-center">
      <p>Designed & built by Jorge Noguera</p>
      <p>© 2025</p>
    </div>
    <div class="flex space-x-4">
      {socialLinks.map((link) => (
        <a href={link.url} class="text-silver hover:text-rose transition-colors">
          {link.name}
        </a>
      ))}
    </div>
  </div>
</footer>