---
import Button from "@ui/Button.astro";
import SectionContainer from "@ui/SectionContainer.astro";
---

<!-- Hero Section -->
<SectionContainer>
  
  <section class="h-screen flex flex-col justify-center font-poppins -mt-16">
    <div
      class="absolute top-0 right-0 overflow-hidden opacity-20 md:opacity-100 portrait:pt-4"
    >
      <div
        class="static md:w-screen w-[200vw] h-screen flex items-center justify-center ml-[25%] xl:mt-10 lg:mt-8"
        data-hover-container
      >
        <img
          class="absolute transition-all duration-500 -z-10"
          src="/img/circles.svg"
          data-target-image
        />
        <img
          class="absolute z-20 lg:z-30"
          src="/img/ai_avatar.webp"
          data-trigger-image
        />
      </div>
    </div>
    <div class="relative z-10 container mx-auto max-w-6xl lg:mt-3">
      <p
        class="font-bold xl:text-[64px] lg:text-[48px] text-[42px] text-water tracking-normal leading-none"
      >
        Hello,
      </p>
      <p
        class="font-medium xl:text-[48px] lg:text-[32px] text-[28px] text-water tracking-normal leading-none mt-2"
      >
        My name is <span
          class="font-semibold xl:text-[50px] lg:text-[36px] text-[30px] text-light-sky-blue cursor-pointer"
          id="hero-name">Jorge</span
        >

        <p
          class="font-light xl:text-[32px] lg:text-[24px] text-[20px] text-silver mt-5"
        >
          I’m a software engineer with<br />
          12+ years of experience building<br />
          solutions for various types of<br />
          companies and businesses.
        </p>
      </p>
    </div>
    <div
      class="grid md:grid-cols-4 grid-cols-2 pt-10 xl:gap-x-4 lg:gap-x-2 gap-x-2"
    >
      <Button type="outline" label="Read more" href="#about" />
      <Button type="primary" label="Download CV" />
    </div>
  </section>
</SectionContainer>

<script>
  function setupHoverEffect() {
    const name = document.getElementById("hero-name");
    const hoverImg = document.getElementById("hero-hover-img");
    if (!name || !hoverImg) return;

    function showHoverImg(e: MouseEvent) {
      if (!name || !hoverImg) return;
      const rect = name.getBoundingClientRect();
      hoverImg.style.left = `${rect.left - (rect.width * 0.1)}px`;
      hoverImg.style.top = `${rect.top - (rect.height * 2.1)}px`;
      hoverImg.style.width = `${rect.width * 1.5}px`;
      hoverImg.style.height = "auto";
      hoverImg.style.display = "block";
    }
    function hideHoverImg() {
      if (!hoverImg) return;
      hoverImg.style.display = "none";
    }
    name.addEventListener("mouseenter", showHoverImg);
    name.addEventListener("mouseleave", hideHoverImg);
  }
  setupHoverEffect();
  document.addEventListener("astro:page-load", setupHoverEffect);
</script>
