---
import About from "@components/About.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import "@styles/global.css";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
  </head>
  <body class="bg-blue bg-repeat text-white bg-[url('/img/bg.svg')] bg-cover">
    <Header />
    <!-- Main Content -->
    <main>
      <Hero />
      <About />

      <section class="py-16 border-t border-gray-200">
        <h2 class="text-3xl font-bold mb-6">Section 2</h2>
        <div class="grid gap-6">
          <p class="text-gray-600">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo.
          </p>
          <p class="text-gray-600">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt.
          </p>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
