---
import About from "@components/About.astro";
import Blog from "@components/Blog.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import Skills from "@components/Skills.astro";
import Work from "@components/Work.astro";
import "@styles/global.css";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
  </head>
  <body class="bg-blue bg-repeat text-white bg-[url('/img/bg.svg')] bg-cover">
    <div class="overflow-x-hidden">
      <Header />
      <!-- Main Content -->
      <main>
        <Hero />
        <About />
        <Skills />
        <Work />
        <Blog />
      </main>
      <Footer />
    </div>
  </body>
</html>
