---
interface Props {
  type: "primary" | "outline";
  label: string;
}

const { type, label } = Astro.props;

let buttonClasses = "border bg-blue border-rose text-rose";
if (type == "primary") {
  buttonClasses = "bg-rose text-white";
}
---
<button class={`w-full xl:h-14 lg:h-12 h-10 rounded font-poppins font-light xl:text-xl lg:text-lg hover:brightness-125 transition-all duration-500 z-40 ${buttonClasses}`}>{label}</button>